

.item_section {
    display: block;
    margin: 20px;
}


.item {
    border-radius: 10px;
}

.score {
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #32cb00 100%), url('../assets/forest.jpg') no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    color:white;
}

.score div {
    display: inline-flex;
    line-height: 100px;
}

.score div h1 {
    font-size: 50px;
}

.score div h1,
.score div p {
  margin: 0px;
}

.score div p {
  padding-top:15px;
}

.chart {
  background-color: #ffffff;
  margin-top: 20px;
  border-width: 5px;
}

.chart canvas {
  color: white;
}

.name {
  float:left
}

.ranking {
  margin-top: 20px;
  border-width: 5px;
  background-color: #ffffff;
  padding: 5px;
  display: block;
  color: white;
  diplay:flex;
}

.ranking2 {
  background-color: #32cb00;
  border-radius: 10px;
  height: 40px;
  margin: 5px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.ranking1 {
  background-color: #259500;
  white-space: nowrap;
  border-radius: 10px;
  height: 40px;
  margin: 5px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.ranking div img {
  float:right;
}

.co2 {
  float: right;
}